<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>

<div class=title>
    <h3>欢迎光临: {{ name }}</h3>
</div>

<p><a href="/admin/check/goods/">查看全部商品</a></p>
<p><a href="/admin/check/types/goods/">点击查看分类商品</a></p>
<p><a href="/admin/public/goods/">发布商品</a></p>

{% if goods %}
    <table width="200" border="1">
    {% for g in goods %}
        <tr>
            <td>{{ g.picture }}</td>
            <td>{{ g.goods_name }}</td>
            <td>{{ g.price }}</td>
            <td>{{ g.exp }}</td>
        </tr>
    {% end %}
    </table>
{% else %}
    <p>notice: {{ notice }}</p>
{% end %}

</body>
</html>
