{% extends "base.html" %}

{% block head %}
<style>
select {
  margin: 0.5em;
}
input[type=text] {
  width: 350px;
}
</style>
{% end %}

{% block content %}
<div id="apiform"></div>

<div>
  <h3>接入商服务器列表</h3>
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>名称</th>
      <th>BisServerId</th>
    </thead>
  </table>


  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>名称</th>
      <th>BisServerId</th>
    </thead>
  </table>
</div>
{% end %}

{% block scripts %}
<script>
var APIs = {
  'http://10.104.22.103:8585/wx/orderQuery': {
    name: '订单查询',
    data: [
    {'name': 'orderNo', 'label': '150订单号(后跟_金额,单位分,可选)'},
    ],
  },
  'http://10.104.0.70:8500/WebApi/order/confirmation': {
    name: '补单',
    data: [
    {'name': 'out_trade_no', 'label': '商户订单号'},
    {'name': 'transaction_id', 'label': '交易流水号'},
    {'name': 'total_fee', 'label': '金额:单位:元'},
    {'name': 'pay_type', 'label': '支付类型：1:tenpay, 2:alipay', default: 1}
    ],
  },
  'http://10.104.22.103:8585/order/noOrderRefund': {
    name: '订单退款',
    data: [
    {'name': 'orderId', 'label': '150订单号(同查询接口的定义)'},
    {'name': 'price', 'label': '金额，单位分'},
    ],
  },
  'http://10.104.0.70:8500/WebApi/order/noTenOrderRefund': {
    name: '财付通退款',
    desc: 'qq电影票，手q。参数和财付通查询类似',
    data: [
    {'name': 'orderId', 'label': '订单号，不带金额'},
    {'name': 'price', 'label': '金额，单位分'},
    ]
  },
  'http://119.29.66.165:8500/Discount/querybonus': {
    name: '查询用户所有的红包，选座券',
    desc: '可以看到红包过期时间了',
    data: [
    {'name': 'sUin', 'label': 'openid'},
    {'name': 'status', 'default': '0'},
    {'name': 'mpid'},
    {'name': 'iOrderId'},
    {'name': 'sUserId'},
    {'name': 'iAppId', 'default': '0'},
    {'name': 'iChannelId', 'default': '3'},
    {'name': 'iSubChannelId', 'default': '100'},
    {'name': 'iPlatForm', 'default': '0'},
    {'name': 'isNew', 'default': '0'}
    ],
  },
  'http://10.66.139.144:80/queryexcode': {
    name: '查询红包通兑码',
    desc: '参数为用户红包通兑码，返回兑换情况，兑换用户微信昵称，头像等信息.\n返回值中status为0：未兑换，需要重新绑定；1：已兑换；2：已使用',
    data: [
    {'name': 'code', 'label': '红包通兑码'},
    ],
  },
  'http://119.29.21.160:8600/Exchange/qryinvalidcode': {
    name: '兑换券验证码状态查询/作废',
    desc: '接口文档：http://wiki.intra.wepiao.com/pages/viewpage.action?pageId=1511406',
    data: [
    {'name': 'sCheckCode', 'label': '兑换券验证码'},
    {'name': 'iType', 'default': '1', 'label': '1表示查询，2表示作废'},
    ]
  },
  'http://10.104.36.104:8080/back_bonus_presell': {
    name: '红包丢单恢复；可用于恢复减至资格；恢复选座券',
    desc: '接口文档：http://wiki.intra.wepiao.com/pages/viewpage.action?pageId=1512632',
    data: [
    {'name': 'sUin', 'label': '用户openid'},
    {'name': 'iOrderId'},
    ],
  },
  'http://10.104.22.103:8585/sms/send': {
    name: '发短信',
    data: [
    {'name': 'phone_number', 'label': '手机号'},
    {'name': 'content', 'label': '短信内容'},
    ]
  },
  'http://10.104.22.103:8585/order/addOrderMQ': {
    name: '超级退款',
    desc: '包括支付，红包，优惠资格,同时om中的状态也会改变。: http://wiki.intra.wepiao.com/pages/viewpage.action?pageId=4063289',
    data: [
    {'name': 'orderId', 'label': '150订单号'},
    {'name': 'refund', 'default': '1', 'label': '就是1，不用改'},
    ]
  },
  'http://10.104.22.103:8585/seat/lock':{
    name:'锁座测试',
    decs:'接口文档：http://wiki.intra.wepiao.com/pages/viewpage.action?pageId=1511226',
    data: [
    {'name':'openId','default': 'o0aT-d9IGjDspDgR-rqEjMBEthgc','lable':'openId'},
    {'name':'publicSignalShort','default': '3','lable':'微信公众号缩写/渠道ID'},
    {'name':'schedulePricingId','lable':'排期批价ID'},
    {'name':'ticket','default': '1','lable':'票ID'},
    {'name':'seatlable','default': '01:1:8','lable':'所选座位列表'},
    {'name':'salePlatformType','default': '2','lable':'售卖平台类型'},
    {'name':'saleObjType','default': '100','lable':'订单来源'},
    {'name':'appId','default': '1','lable':'认证方式',},
    {'name':'userId','lable':'用户Id'},
    ]
  },
  'http://10.104.0.70:8500/WebApi/order/RemovieRedisKeyController': {
    name: '清理Redis缓存',
    desc: 'key格式：卢米埃全量：LMA_SESSION_GLOBLE_1008_20150911；短信限量：dz_phonesmscount_2015-09-26_15765050492',
    data: [
    {'name': 'key'},
    ]
  },
  'http://10.66.139.148/api/price/updatePriceStatus': {
    name: '更新批价状态',
    desc: '用户处理批价状态为空的问题。填写对应的批价ID，更新其状态为0。注意：scheduleStatus=0，priceStatus=1的情况才能更新。scheduleStatus=9的不要修改，不然会弄出无效的排期',
    data: [
    {name: 'scheduleId', label: '排期ID'},
    {name: 'tpId', default: 0},
    {name: 'status', default: 0}
    ]
  }
};

function setup_apiform(container, apis) {
  var apisel = $('<select>');
  container.append(apisel);

  $.each(apis, function(api, apidata) {
    var did = api.replace(/[\/\.:]/g, '_');
    apisel.append($('<option>').text(apidata.name).val(did));

    var inner = $('<form action="#" method="GET">')
    .attr({action: '#', method: 'GET', 'id': did, 'class': 'inner'})
    .hide()
    .append($('<input type="hidden">')
      .addClass('url').val(api))
    .appendTo(container);

    if (apidata.desc) {
      $('<p>').text(apidata.desc).appendTo(inner);
    }

    var tab = $('<table>').appendTo(inner);
    for (var i in apidata.data) {
      var arg = apidata.data[i];
      var input = $('<input type="text">').attr('name', arg['name']);
      if ('default' in arg) {
        input.val(arg['default']);
      }
      if ('readonly' in arg) {
        input.attr('readonly', 'readonly');
      }
      var label;
      if (arg.label) {
        label = arg.name + ' (' + arg.label + ')';
      } else {
        label = arg.name;
      }
      $('<tr>')
      .append($('<td>').text(label))
      .append($('<td>').append(input))
      .appendTo(tab);
    }
    $('<input type="submit" class="btn btn-primary" value="Go">').click(function() {
      var query = $(this).parents('form').serialize();
      var patial = $('.url', $(this).parents('.inner')).val();
      var url = patial + '?' + query;
      console.debug(url);
      window.open(url);
      return false;
    }).appendTo(inner);
  });

  apisel.change(function() {
    $('.inner', $(this).parent()).hide();
    $('#'+$(this).val()).show();
  }).change();
}
setup_apiform($('#apiform'), APIs);
</script>
{% end %}
