{% extends "base.html" %}
{% load humanize %}
{% load datetime_utils %}
{% load dict_utils %}

{% block title %}Order Error Summary{% endblock %}

{% block content %}
<h3>错误汇总</h3>

<p>开始时间: {{ begin }}</p>
<p>结束时间: {{ end }}</p>
<p>总数: {{ total }}</p>

<style>
tr.border1.border2 td {
  border-top: 2px solid #aaa;
}
</style>
<div>
<table class="table table-bordered">
  <tbody>
    <thead>
      <th>接入商</th>
      <th>类型</th>
      <th>代码</th>
      <th>描述</th>
    </thead>
    {% for name, optype, code, cnt, msg in rows %}
    {% ifchanged name %}
    <tr class='border1 border2'>
      <td class="text-nowrap">
        {{ name }}<br/>
        次数: <span {% if bcnt|lookup:name > 10000 %}
          style='color:red'
          {% endif %}>
          {{ bcnt|lookup:name }}
        </span>
      </td>
    {% else %}
    <tr>
      <td>&nbsp;</td>
    {% endifchanged %}

      {% ifchanged name optype %}
      <td class="text-nowrap">
        {{ optype }}<br/>
        次数: <span {% if bocnt|lookup:name|lookup:optype > 1000 %}
          style='color:red'
          {% endif %}>
          {{ bocnt|lookup:name|lookup:optype }}
        </span>
      </td>
      {% else %}
      <td>&nbsp;</td>
      {% endifchanged %}

      <td>
        <em>{{ code|default:"N/A" }}</em><br/>
        次数: <span {% if cnt > 1000 %}
          style='color:red'
          {% endif %}>
          {{ cnt }}
        </span>
      </td>
      <td>{{ msg }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
