{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}User Active Info{% endblock %}

{% block content %}
<h3>用户活动数据查询</h3>

<form method='post'>
{% crispy form %}

{% if not data %}
<p>没有查询到任何数据</p>
{% else %}
<div style="float:right">
  <input type="submit" class="btn btn-link" name="download" value="下载excel" />
</div>

<table class="table table-striped">
  <tr>
    <th>#</th>
    {% for h in header %}
    <th>{{ h }}</th>
    {% endfor %}
  </tr>
  {% for row in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    {% for d in row %}
    <td>{{ d }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</form>
{% endif %}

{% endblock %}
